Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
AeroimportCargo_MVC.ncrunchsolution
*.ncrunchproject
AeroimportCargo_MVC/Content/img*/
packages/FluentAssertions.2.0.0.1*/
packages/Moq.4.0.10827*/
packages/NUnit.2.6.0.12054*/
packages/NUnit.2.6.2*/
packages/SpecFlow.1.9.0*/
packages/SpecFlow.NUnit.1.1.1*/
AeroimportCargo_MVC/Web.config